**1. Conditional Basics**

a. Prompt the user for a day of the week, print out whether the day is Monday or not

In [5]:
print("What day of the week is it?")
x = input()
if x == "Monday":
    print("Yes! Today is Monday!")
else:
    print("No, Today is Monday!")

What day of the week is it?
Monday
Yes! Today is Monday!

b. Prompt the user for a day of the week, print out whether the day is a weekday or a weekend

In [3]:
print("What day of the week is it?")
x = input()
if x == "Saturday":
    print("It's a weekend")
elif x == "Sunday":
    print("It's a weekend")
else:
    print("It's a weekday")

What day of the week is it?
Sunday
It's a weekday

c. Calculate a weekly paycheck, accounting for overtime pay. Create variables and make up values for:

* The number of hours worked in one week
* The hourly rate

For calculating pay:

* For working 40 hours or less, each hour is paid at the hourly rate
* For working more than 40 hours

    * the first 40 hours are paid at the hourly rate
    * each hour after 40 is paid at time and a half (hourly rate * 1.5)

In [17]:
Hours = input("How Many Hours Did You Work This Week?")
Hour_Rate = 15
Overtime_Rate = Hour_Rate*1.5
if int(Hours) <= 40:
    print('$'+(Hours*Hour_Rate))
else:
    print("You Made $",((int(Hours)-40)*(Overtime_Rate)+(int(Hours)*Hour_Rate)))

How Many Hours Did You Work This Week?41
You Made $ 637.5

**2. Loop Basics**

a. While

1. Create an integer variable i with a value of 5. Create a while loop that runs so long as i is less than or equal to 15. Each loop iteration, output the current value of i, then increment i by one.

In [20]:
i = 5
while i <= 15:
    print(i)
    i+=1

5
6
7
8
9
10
11
12
13
14
15

2. Create a while loop that will count by 2's starting with 0 and ending at 100. Follow each number with a new line.

In [21]:
i = 0
while i <= 100:
    if i % 2 == 0:
        print(i)
        i += 1
    else:
        i += 1

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

3. Create a while loop that starts at 2, and displays the number squared on each line while the number is less than 1,000,000.

In [30]:
i = 2
print(i)
while i < 1000000:
    i = i*i
    if i >= 1000000:
        break
    else:
        print(i)

2
4
16
256
65536

4. Write a while loop that uses print to create the output shown below.

100\
95\
90\
85\
80\
75\
70\
65\
60\
55\
50\
45\
40\
35\
30\
25\
20\
15\
10\
5

In [31]:
i = 100
while i > 0:
    print(i) 
    i -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

b. For Loops

1. Write some code using a for loop that prompts the user for a number, then shows a multiplication table up through 10 for that number.

For example, if the user enters 7, your program should output:\
7 x 1 = 7\
7 x 2 = 14\
7 x 3 = 21\
7 x 4 = 28\
7 x 5 = 35\
7 x 6 = 42\
7 x 7 = 49\
7 x 8 = 56\
7 x 9 = 63\
7 x 10 = 70

In [40]:
print("Enter a number, 0 - 10")
x = input()
for i in range(1,11):
    print(x, "x",i,"=", (int(x)*i))

Enter a number, 0 - 10
7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

2. Create a for loop that uses print to create the output shown below.\
1\
22\
333\
4444\
55555\
666666\
7777777\
88888888\
999999999

In [41]:
 for i in range (1,10):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

c. break and continue

1. Write a program that prompts the user for a positive integer. Next write a loop that prints out the numbers from the number the user entered down to 1.

In [43]:
print("Give a positive integer")
x = int(input())
while x > 0:
    print(x)
    x -=1
    if x == 0:
        break

Give a positive integer
8
8
7
6
5
4
3
2
1

2. The input function can be used to prompt for input and use that input in your python code. Prompt the user to enter a positive number and write a loop that counts from 0 to that number. (Hints: note that the input function returns a string, so you'll need to convert this to a numeric type.)

In [45]:
print("Give a positive integer")
x = int(input())
i = 0
while i <= x:
    print(i)
    i += 1

Give a positive integer
8
0
1
2
3
4
5
6
7
8

3. Prompt the user for an odd number between 1 and 50. Use a loop and a break statement to continue prompting the user if they enter invalid input. (Hint: use the isdigit method on strings to determine this). Use a loop and the continue statement to output all the odd numbers between 1 and 50, except for the number the user entered.\
Your output should look like this:

Number to skip is: 27

Here is an odd number: 1\
Here is an odd number: 3\
Here is an odd number: 5\
Here is an odd number: 7\
Here is an odd number: 9\
Here is an odd number: 11\
Here is an odd number: 13\
Here is an odd number: 15\
Here is an odd number: 17\
Here is an odd number: 19\
Here is an odd number: 21\
Here is an odd number: 23\
Here is an odd number: 25\
Yikes! Skipping number: 27\
Here is an odd number: 29\
Here is an odd number: 31\
Here is an odd number: 33\
Here is an odd number: 35\
Here is an odd number: 37\
Here is an odd number: 39\
Here is an odd number: 41\
Here is an odd number: 43\
Here is an odd number: 45\
Here is an odd number: 47\
Here is an odd number: 49

In [23]:
print("Give an odd number between 1 and 50")
x = int(input())
for i in range (1,51):
    if i == x:
        print(f'Yikes! Skipping Number: {i}')
        continue
    if i % 2 == 1:
        print(f'Here is an odd number: {i}')

Give an odd number between 1 and 50
27
Here is an odd number: 1
Here is an odd number: 3
Here is an odd number: 5
Here is an odd number: 7
Here is an odd number: 9
Here is an odd number: 11
Here is an odd number: 13
Here is an odd number: 15
Here is an odd number: 17
Here is an odd number: 19
Here is an odd number: 21
Here is an odd number: 23
Here is an odd number: 25
Here is an odd number: 27
Yikes! Skipping Number: 27
Here is an odd number: 29
Here is an odd number: 31
Here is an odd number: 33
Here is an odd number: 35
Here is an odd number: 37
Here is an odd number: 39
Here is an odd number: 41
Here is an odd number: 43
Here is an odd number: 45
Here is an odd number: 47
Here is an odd number: 49

**3. Fizzbuzz**

One of the most common interview questions for entry-level programmers is the FizzBuzz test. Developed by Imran Ghory, the test is designed to test basic looping and conditional logic skills.

* Write a program that prints the numbers from 1 to 100.
* For multiples of three print "Fizz" instead of the number
* For the multiples of five print "Buzz".
* For numbers which are multiples of both three and five print "FizzBuzz".

In [48]:
for i in range (1,101):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print('Fizz')
    elif i % 5 == 0:
        print('Buzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

**4. Display a table of powers.**

* Prompt the user to enter an integer
* Display a table of squares and cubes from 1 to the value entered
* Ask if the user wants to continue
* Assume that the user will enter valid data
* Only continue if the user agrees to
Example Output:
What number would you like to go up to? 5

Here is your table!

number | squared | cubed
------ | ------- | -----
1      | 1       | 1
2      | 4       | 8
3      | 9       | 27
4      | 16      | 64
5      | 25      | 125

In [2]:
from prettytable import PrettyTable
answer = 'yes'
while answer == 'yes':
    print("What number would you like to go up to?")
    x = int(input())
    t = PrettyTable(['Number','Squared','Cubed'])
    for i in range(1,(x+1)):
        t.add_row([i,i*i,(i*i)*i])
    print(t)
    print('Would you like to continue?')
    answer = input()
    if answer == 'yes':
        continue
    else:
        break

What number would you like to go up to?
6
+--------+---------+-------+
| Number | Squared | Cubed |
+--------+---------+-------+
|   1    |    1    |   1   |
|   2    |    4    |   8   |
|   3    |    9    |   27  |
|   4    |    16   |   64  |
|   5    |    25   |  125  |
|   6    |    36   |  216  |
+--------+---------+-------+
Would you like to continue?
yes
What number would you like to go up to?
8
+--------+---------+-------+
| Number | Squared | Cubed |
+--------+---------+-------+
|   1    |    1    |   1   |
|   2    |    4    |   8   |
|   3    |    9    |   27  |
|   4    |    16   |   64  |
|   5    |    25   |  125  |
|   6    |    36   |  216  |
|   7    |    49   |  343  |
|   8    |    64   |  512  |
+--------+---------+-------+
Would you like to continue?
no

**5. Convert given number grades into letter grades.**

* Prompt the user for a numerical grade from 0 to 100
* Display the corresponding letter grade
* Prompt the user to continue
* Assume that the user will enter valid integers for the grades
* The application should only continue if the user agrees to
* Grade Ranges:

   * A : 100 - 88
   * B : 87 - 80
   * C : 79 - 67
   * D : 66 - 60
   * F : 59 - 0

In [24]:
cont = 'yes'
while cont == 'yes':
    print("Give me a grade from 0 to 100")
    x = int(input())
    if x >= 88:
        print('A')
    elif x >= 80 and x <= 87:
        print('B')
    elif x >= 67 and x <= 79:
        print('C')
    elif x >= 60 and x <= 66:
        print('D')
    elif x >= 0 and x <= 59:
        print('F')
    print('Would you like to give another grade?')
    cont = input()
    if cont == 'yes':
        continue
    else:
        break

Give me a grade from 0 to 100
9
F
Would you like to give another grade?
no

**6. Create a list of dictionaries where each dictionary represents a book that you have read. Each dictionary in the list should have the keys title, author, and genre. Loop through the list and print out information about each book.**

In [16]:
#Book data coming from NY Time Bestsellers List
books = {'Title': ['Fourth Wing', 'Blood Lines', 'Wildfire', 'Lessons in Chemistry', 'Judgement Prey'],
          'Genre': ['Fantasy', 'Mystery', 'Romance', 'Fiction', 'Crime'],
          'Author': ['Rebecca Yarros', 'Nelson DeMille', 'Hannah Grace', 'Bonnie Garmus', 'John Sandford']}

for i in range(len(books['Author'])):
    print(f"Book {i+1}:")
    print(f"Author: {books['Author'][i]}")
    print(f"Genre: {books['Genre'][i]}")
    print(f"Title: {books['Title'][i]}")
    print("--------------------------")

Book 1:
Author: Rebecca Yarros
Genre: Fantasy
Title: Fourth Wing
--------------------------
Book 2:
Author: Nelson DeMille
Genre: Mystery
Title: Blood Lines
--------------------------
Book 3:
Author: Hannah Grace
Genre: Romance
Title: Wildfire
--------------------------
Book 4:
Author: Bonnie Garmus
Genre: Fiction
Title: Lessons in Chemistry
--------------------------
Book 5:
Author: John Sandford
Genre: Crime
Title: Judgement Prey
--------------------------

a. Prompt the user to enter a genre, then loop through your books list and print out the titles of all the books in that genre.

In [23]:
print("What genre are you looking for?")
x = input()

for i in range(len(books['Author'])):
    if x == (books['Genre'][i]):
        print(f"Book {i+1}:")
        print(f"Title: {books['Title'][i]}")
        print("--------------------------")

What genre are you looking for?
Fantasy
Book 1:
Title: Fourth Wing
--------------------------

**Bonus Exercises**

* For your Power of Tables exercise, research python's format string specifiers to align the table

In [26]:
answer = 'yes'
while answer == 'yes':
    print("What number would you like to go up to?")
    x = int(input())
    for i in range(1,(x+1)):
        x1 = i
        y1 = i*i
        z1 = (i*i)*i
        print("{:<3} {:<6} {:<9}".format(x1,y1,z1))
    print('Would you like to continue?')
    answer = input()
    if answer == 'yes':
        continue
    else:
        break

What number would you like to go up to?
5
1   1      1
2   4      8
3   9      27
4   16     64
5   25     125
Would you like to continue?
no

* For your Number Grade to Letter Grade exercise, edit your grade ranges to include pluses and minuses (ex: 99-100 = A+)

In [ ]:
cont = 'yes'
while cont == 'yes':
    print("Give me a grade from 0 to 100")
    x = int(input())
    if x >= 88:
        if x >= 96:
            print('A+')
        elif x > 90 and x < 96:
            print('A')
        else:
            print('A-')
    elif x >= 80 and x <= 87:
        if x >= 85:
            print('B+')
        elif x > 82 and x < 85:
            print('B')
        else:
            print('B-')
    elif x >= 67 and x <= 79:
        if x >= 75:
            print('C+')
        elif x > 72 and x < 75:
            print('C')
        else:
            print('C-')
    elif x >= 60 and x <= 66:
        if x >= 64:
            print('D+')
        elif x > 61 and x < 64:
            print('D')
        else:
            print('D-')
    elif x >= 0 and x <= 59:
        print('F')
    print('Would you like to give another grade?')
    cont = input()
    if cont == 'yes':
        continue
    else:
        break

**17 Bonus List Comprehension Problems**

In [2]:
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]

In [5]:
# Example for loop solution to add 1 to each number in the list
numbers_plus_one = []
for number in numbers:
    numbers_plus_one.append(number + 1)

# Example of using a list comprehension to create a list of the numbers plus one.
numbers_plus_one = [number + 1 for number in numbers]

# Example code that creates a list of all of the list of strings in fruits and uppercases every string
output = []
for fruit in fruits:
    output.append(fruit.upper())
output

['MANGO', 'KIWI', 'STRAWBERRY', 'GUAVA', 'PINEAPPLE', 'MANDARIN ORANGE']

In [7]:
# Exercise 1 - rewrite the above example code using list comprehension syntax. 
#Make a variable named uppercased_fruits to hold the output of the list comprehension. 
#Output should be ['MANGO', 'KIWI', etc...]

uppercased_fruits = []
for i in fruits:
    uppercased_fruits.append(i.upper())
uppercased_fruits

['MANGO', 'KIWI', 'STRAWBERRY', 'GUAVA', 'PINEAPPLE', 'MANDARIN ORANGE']

In [8]:
# Exercise 2 - create a variable named capitalized_fruits and use list comprehension syntax to produce output 
#like ['Mango', 'Kiwi', 'Strawberry', etc...]

capitalized_fruits = []
for i in fruits:
    capitalized_fruits.append(i.title())
capitalized_fruits

['Mango', 'Kiwi', 'Strawberry', 'Guava', 'Pineapple', 'Mandarin Orange']

In [6]:
# Exercise 3 - Use a list comprehension to make a variable named fruits_with_more_than_two_vowels. 
#Hint: You'll need a way to check if something is a vowel.

fruits_with_more_than_two_vowels = []
Vowels = {'a', 'e', 'i', 'o', 'u'}
for i in fruits:
    count = sum(1 for letter in i if letter in Vowels)
    if count >= 2:
        fruits_with_more_than_two_vowels.append(i)
fruits_with_more_than_two_vowels

['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

In [7]:
# Exercise 4 - make a variable named fruits_with_only_two_vowels. 
#The result should be ['mango', 'kiwi', 'strawberry']

fruits_with_only_two_vowels = []
Vowels = {'a', 'e', 'i', 'o', 'u'}

for fruit in fruits:
    count = sum(1 for letter in fruit if letter in Vowels)
    if count == 2:
        fruits_with_only_two_vowels.append(fruit)

fruits_with_only_two_vowels

['mango', 'kiwi', 'strawberry']

In [12]:
# Exercise 5 - make a list that contains each fruit with more than 5 characters
more_than_5 = []
for fruit in fruits:
    if len(fruit) > 5:
        more_than_5.append(fruit)
more_than_5

['strawberry', 'pineapple', 'mandarin orange']

In [13]:
# Exercise 6 - make a list that contains each fruit with exactly 5 characters
equal_to_5 = []
for fruit in fruits:
    if len(fruit) == 5:
        equal_to_5.append(fruit)
equal_to_5

['mango', 'guava']

In [14]:
# Exercise 7 - Make a list that contains fruits that have less than 5 characters
less_than_5 = []
for fruit in fruits:
    if len(fruit) < 5:
        less_than_5.append(fruit)
less_than_5

['kiwi']

In [15]:
# Exercise 8 - Make a list containing the number of characters in each fruit. Output would be [5, 4, 10, etc... ]
characters = []
for fruit in fruits:
    characters.append(len(fruit))
characters

[5, 4, 10, 5, 9, 15]

In [16]:
# Exercise 9 - Make a variable named fruits_with_letter_a that contains a list of only the fruits 
#that contain the letter "a"

fruits_with_letter_a = []
a = 'a'

for fruit in fruits:
    count = sum(1 for letter in fruit if letter in a)
    if count >= 1:
        fruits_with_letter_a.append(fruit)
fruits_with_letter_a

['mango', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

In [17]:
# Exercise 10 - Make a variable named even_numbers that holds only the even numbers 

even_number = []

for fruit in fruits:
    if len(fruit) % 2 == 0:
        even_number.append(fruit)
even_number

['kiwi', 'strawberry']

In [18]:
# Exercise 11 - Make a variable named odd_numbers that holds only the odd numbers

odd_number = []

for fruit in fruits:
    if len(fruit) % 2 == 1:
        odd_number.append(fruit)
odd_number

['mango', 'guava', 'pineapple', 'mandarin orange']

In [21]:
# Exercise 12 - Make a variable named positive_numbers that holds only the positive numbers

positive_numbers = []

for number in numbers:
    if number > 0:
        positive_numbers.append(number)
positive_numbers

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, 5]

In [24]:
# Exercise 13 - Make a variable named negative_numbers that holds only the negative numbers

negative_numbers = []

for number in numbers:
    if number < 0:
        negative_numbers.append(number)
negative_numbers

[-8, -4, -2, -9]

In [37]:
# Exercise 14 - use a list comprehension w/ a conditional in order to produce a list of numbers with 
#2 or more numerals

two_or_more = []

for number in numbers:
    if number > 9:
        two_or_more.append(number)
two_or_more

[10, 11, 13, 17, 19, 23, 256]

In [40]:
# Exercise 15 - Make a variable named numbers_squared that contains the numbers list with each element squared. 
#Output is [4, 9, 16, etc...]

squared = []

for number in numbers:
    squared.append(number*number)
squared

[4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 169,
 289,
 361,
 529,
 65536,
 64,
 16,
 4,
 25,
 81]

In [41]:
# Exercise 16 - Make a variable named odd_negative_numbers that contains only the numbers that are both odd 
#and negative.

odd_negative_numbers = []

for number in numbers:
    if number % 2 == 1 and number < 0:
        odd_negative_numbers.append(number)
odd_negative_numbers

[-9]

In [42]:
# Exercise 17 - Make a variable named numbers_plus_5. In it, return a list containing each number plus five. 

numbers_plus_5 = []

for number in numbers:
    numbers_plus_5.append(number+5)
numbers_plus_5

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 22, 24, 28, 261, -3, 1, 3, 10, -4]

**Data Structure Manipulation Exercises** **Bonus**

In [44]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

How many students are there?

In [50]:
student_count = len(students)
student_count

14

How many students prefer light coffee? For each type of coffee roast?

In [58]:
coffee_counts = {}

for student in students:
    coffee_type = student['coffee_preference']
    if coffee_type in coffee_counts:
        coffee_counts[coffee_type] += 1
    else:
        coffee_counts[coffee_type] = 1

print(coffee_counts)

{'light': 3, 'medium': 6, 'dark': 5}

How many types of each pet are there?

In [65]:
pet_species = set()

for student in students:
    for pet in student['pets']:
        pet_species.add(pet['species'])

print(pet_species)

{'dog', 'horse', 'cat'}

How many grades does each student have? Do they all have the same number of grades?

In [82]:
for student in students:
    grades = len(student['grades'])
    print({student['id'] : grades})
if grades == 4:
    print('Yes')
else:
    print('Not all have the same number of grades')

{'100001': 4}
{'100002': 4}
{'100003': 4}
{'100004': 4}
{'100005': 4}
{'100006': 4}
{'100007': 4}
{'100008': 4}
{'100009': 4}
{'100010': 4}
{'100011': 4}
{'100012': 4}
{'100013': 4}
{'100014': 4}
Yes

What is each student's grade average?

In [83]:
for student in students:
    grade_avg = (sum(student['grades'])/len(student['grades']))
    print({student['id'] : grade_avg})

{'100001': 78.5}
{'100002': 83.5}
{'100003': 73.25}
{'100004': 78.5}
{'100005': 81.5}
{'100006': 80.75}
{'100007': 84.5}
{'100008': 88.75}
{'100009': 88.75}
{'100010': 82.5}
{'100011': 81.5}
{'100012': 91.0}
{'100013': 79.0}
{'100014': 89.0}

How many pets does each student have?

In [88]:
for student in students:
    pet_count = len(student['pets'])
    print({student['id'] : pet_count})

{'100001': 1}
{'100002': 0}
{'100003': 1}
{'100004': 2}
{'100005': 3}
{'100006': 0}
{'100007': 1}
{'100008': 2}
{'100009': 2}
{'100010': 1}
{'100011': 2}
{'100012': 1}
{'100013': 1}
{'100014': 1}

How many students are in web development? data science?

In [85]:
class_counts = {}

for student in students:
    class_type = student['course']
    if class_type in class_counts:
        class_counts[class_type] += 1
    else:
        class_counts[class_type] = 1

print(class_counts)

{'web development': 7, 'data science': 7}

What is the average number of pets for students in web development?

In [91]:
student_count = 0
pet_num = 0
for student in students:
    if student['course'] == 'web development':
        student_count += 1
        pet_num += len(student['pets'])
pet_avg = pet_num / student_count
print(pet_avg)

1.2857142857142858