1. Identify the data type of the following values:

In [1]:
#99.9
type(99.9)

float

In [35]:
#"False"
type("False")

str

In [36]:
#False
type(False)

bool

In [37]:
#'0'
type('0')

str

In [38]:
#0
type(0)

int

In [39]:
#True
type(True)

bool

In [40]:
#'True'
type('True')

str

In [41]:
#[{}]
type([{}])

list

In [42]:
#{'a': []}
type({'a':[]})

dict

2. What data type would best represent the following?

In [11]:
#A term or phrase typed into a search box
String
#Whether or not a user is logged in
Boolean
#A discount amount to apply to a user's shopping cart
Float
#Whether or not a coupon code is valid
Boolean
#An email address typed into a registration form
String
#The price of a product
Float
#The email addresses collected from a registration form
List
#Information about applicants to Codeup's data science program
Dictionary

3. For each of the following code blocks:

Read the expression and predict the evaluated results

Execute the expression in a Python REPL.

In [43]:
#'1' + 2
#Prediction: Error
'1'+2

TypeError: can only concatenate str (not "int") to str

In [44]:
#6 % 4
#Prediction: 2
6 % 4

2

In [45]:
#type(6 % 4)
#Prediction: int
type(6 % 4)

int

In [46]:
#type(type(6 % 4))
#Prediction: Error
type(type(6 % 4))

type

In [47]:
#'3 + 4 is ' + 3 + 4
#Prediction: Error
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

In [48]:
#0 < 0
#Prediction: False
0 < 0

False

In [49]:
#'False' == False
#Prediction: False
'False' == False

False

In [52]:
#True == 'True'
#Prediction: False
True == 'True'

False

In [53]:
#5 >= -5
#Prediction: True
5 >= -5

True

In [54]:
#True or "42"
#Prediction: Error
True or "42"

True

In [55]:
#6 % 5
#Prediction: 1
6 % 5

1

In [56]:
#5 < 4 and 1 == 1
#Prediction: False
5 < 4 and 1 == 1

False

In [57]:
#'codeup' == 'codeup' and 'codeup' == 'Codeup'
#Prediction: False
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [58]:
#4 >= 0 and 1 !== '1'
#Prediction: Error
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (3086804876.py, line 3)

In [59]:
#6 % 3 == 0
#Prediction: True
6 % 3 == 0

True

In [60]:
#5 % 2 != 0
#Prediction: True
5 % 2 != 0

True

In [61]:
#[1] + 2
#Prediction: Error
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [62]:
#[1] + [2]
#Prediction: [1,2]
[1] + [2]

[1, 2]

In [63]:
#[1] * 2
#Prediction: [1,1]
[1] * 2

[1, 1]

In [64]:
#[1] * [2]
#Prediction: Error
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

In [65]:
#[] + [] == []
#Prediction: True
[] + [] == []

True

In [66]:
#{} + {}
#Prediction: Error
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

4. You have rented some movies for your kids:

The Little Mermaid for 3 days

Hercules for 1 day

Brother Bear for 5 days

If the daily fee to rent a movie is 3 dollars, how much will you have to pay?

In [69]:
Rent = 3

Little_Mermaid = 3 * Rent
Hercules = 1 * Rent
Brother_Bear = 5 * Rent

Little_Mermaid + Hercules + Brother_Bear

27

5. Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

They pay you the following hourly rates:

Google: 400 dollars\
Amazon: 380 dollars\
Facebook: 350 dollars\
This week you worked: 10 hours for Facebook, 6 hours for Google, and 4 hours for Amazon.

How much will you receive in payment for this week?

In [68]:
Google_Hourly = 400
Amazon_Hourly = 380
Facebook_Hourly = 350

FB_Hours = 10 * Facebook_Hourly
G_Hours = 6 * Google_Hourly
A_Hours = 4 * Amazon_Hourly

FB_Hours + G_Hours + A_Hours

7420

6. A student can be enrolled in a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [73]:
Schedule = ['Geometry', 'Math', 'Gym', 'Science']
Class_Amount = 15
Class_Full = 20
Class_Name = 'Cooking'

if Class_Amount < Class_Full:
    if len(Schedule) < 5:
        Schedule.append(Class_Name)
        
Schedule

['Geometry', 'Math', 'Gym', 'Science', 'Cooking']

7. A product offer can be applied only if a customer buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [75]:
Item_Amount = 3
date = 20231024
expired_date = 20231101
Cost = Item_Amount * 4
Discount_Amount = Cost * 0.25
member = True
premium_member = True

if Item_Amount > 2:
    if date < expired_date:
        Cost = Cost - Discount_Amount
elif memeber == premium_member:
    Cost = Cost - Discount_Amount

Cost

9.0

8. Use the following code to follow the instructions below:


username = 'codeup'\
password = 'notastrongpassword'\
Create a variable that holds a boolean value for each of the following conditions:

The password must be at least 5 characters\
The username must be no more than 20 characters\
The password must not be the same as the username\
Bonus Neither the username or password can start nor end with whitespace

In [92]:
username = 'codeup'
password = 'notastrongpassword' 

if len(password) < 5:
    print("Create password longer than 5 characters")
elif len(username) > 20:
    print("Username must not be greater than 20 characters")
elif password == username:
    print("Password must not match username")
elif password[-1] == ' ':
    print("Password must not end with a space")
elif username[-1] == ' ':
    print("Username must not end with a space")
else:
    print("Password and Username are fine!")

Password must not match username